################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ATSQuadroStrategyBase/NinjaTrader 8/bin/Custom/.vs/NinjaTrader.ATS.Custom/v16
