################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ATSQuadroStrategyBase/NinjaTrader 8/bin/Custom/.vs/NinjaTrader.ATS.Custom/v16
/.vs
/ATSQuadroStrategyBase/NinjaTrader 8/bin/Custom/obj/Debug
/ATSQuadroStrategyBase.GUI/obj/Release/UserControlNinjaBuddy.g.i.cs
/ATSQuadroStrategyBase.GUI/obj/Release/UserControlNinjaBuddy.g.cs
/ATSQuadroStrategyBase.GUI/obj/Release/UserControlNinjaBuddy.baml
/ATSQuadroStrategyBase.GUI/obj/Release/UserControlEasyConfig.g.i.cs
/ATSQuadroStrategyBase.GUI/obj/Release/UserControlEasyConfig.g.cs
/ATSQuadroStrategyBase.GUI/obj/Release/UserControlEasyConfig.baml
/ATSQuadroStrategyBase.GUI/obj/Release/ATSQuadroStrategyBase.GUI_MarkupCompile.lref
/ATSQuadroStrategyBase.GUI/obj/Release/ATSQuadroStrategyBase.GUI_MarkupCompile.cache
/ATSQuadroStrategyBase.GUI/obj/Release/ATSQuadroStrategyBase.GUI.pdb
/ATSQuadroStrategyBase.GUI/obj/Release/ATSQuadroStrategyBase.GUI.g.resources
/ATSQuadroStrategyBase.GUI/obj/Release/ATSQuadroStrategyBase.GUI.dll
/ATSQuadroStrategyBase.GUI/obj/Release/ATSQuadroStrategyBase.GUI.csprojAssemblyReference.cache
/ATSQuadroStrategyBase.GUI/obj/Release/ATSQuadroStrategyBase.GUI.csproj.FileListAbsolute.txt
/ATSQuadroStrategyBase.GUI/obj/Release/ATSQuadroStrategyBase.GUI.csproj.CopyComplete
/ATSQuadroStrategyBase.GUI/obj/Debug/UserControlNinjaBuddy.g.i.cs
/ATSQuadroStrategyBase.GUI/obj/Debug/UserControlNinjaBuddy.g.cs
/ATSQuadroStrategyBase.GUI/obj/Debug/UserControlNinjaBuddy.baml
/ATSQuadroStrategyBase.GUI/obj/Debug/UserControlEasyConfig.g.i.cs
/ATSQuadroStrategyBase.GUI/obj/Debug/UserControlEasyConfig.g.cs
/ATSQuadroStrategyBase.GUI/obj/Debug/UserControlEasyConfig.baml
/ATSQuadroStrategyBase.GUI/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/ATSQuadroStrategyBase.GUI/obj/Debug/ATSQuadroStrategyBase.GUI_MarkupCompile.lref
/ATSQuadroStrategyBase.GUI/obj/Debug/ATSQuadroStrategyBase.GUI_MarkupCompile.i.cache
/ATSQuadroStrategyBase.GUI/obj/Debug/ATSQuadroStrategyBase.GUI_MarkupCompile.cache
/ATSQuadroStrategyBase.GUI/obj/Debug/ATSQuadroStrategyBase.GUI.pdb
/ATSQuadroStrategyBase.GUI/obj/Debug/ATSQuadroStrategyBase.GUI.g.resources
/ATSQuadroStrategyBase.GUI/obj/Debug/ATSQuadroStrategyBase.GUI.dll
/ATSQuadroStrategyBase.GUI/obj/Debug/ATSQuadroStrategyBase.GUI.csprojAssemblyReference.cache
/ATSQuadroStrategyBase.GUI/obj/Debug/ATSQuadroStrategyBase.GUI.csproj.FileListAbsolute.txt
/ATSQuadroStrategyBase.GUI/obj/Debug/ATSQuadroStrategyBase.GUI.csproj.CopyComplete
/ATSQuadroStrategyBase.GUI/bin/Release/zh-Hans/NinjaTrader.Core.resources.dll
/ATSQuadroStrategyBase.GUI/bin/Release/System.Windows.Controls.WpfPropertyGrid.dll
/ATSQuadroStrategyBase.GUI/bin/Release/System.Data.SqlServerCe.dll
/ATSQuadroStrategyBase.GUI/bin/Release/System.Data.SQLite.dll
/ATSQuadroStrategyBase.GUI/bin/Release/SharpDX.DXGI.dll
/ATSQuadroStrategyBase.GUI/bin/Release/SharpDX.dll
/ATSQuadroStrategyBase.GUI/bin/Release/SharpDX.Direct3D10.dll
/ATSQuadroStrategyBase.GUI/bin/Release/SharpDX.Direct2D1.dll
/ATSQuadroStrategyBase.GUI/bin/Release/ru-RU/NinjaTrader.Core.resources.dll
/ATSQuadroStrategyBase.GUI/bin/Release/pt-PT/NinjaTrader.Core.resources.dll
/ATSQuadroStrategyBase.GUI/bin/Release/NinjaTrader.VMRuntime.dll
/ATSQuadroStrategyBase.GUI/bin/Release/NinjaTrader.Core.xml
/ATSQuadroStrategyBase.GUI/bin/Release/NinjaTrader.Core.dll
/ATSQuadroStrategyBase.GUI/bin/Release/MySql.Data.dll
/ATSQuadroStrategyBase.GUI/bin/Release/it-IT/NinjaTrader.Core.resources.dll
/ATSQuadroStrategyBase.GUI/bin/Release/Interop.METALIBLib.dll
/ATSQuadroStrategyBase.GUI/bin/Release/Google.Protobuf.dll
/ATSQuadroStrategyBase.GUI/bin/Release/fr-FR/NinjaTrader.Core.resources.dll
/ATSQuadroStrategyBase.GUI/bin/Release/es-ES/NinjaTrader.Core.resources.dll
/ATSQuadroStrategyBase.GUI/bin/Release/de-DE/NinjaTrader.Core.resources.dll
/ATSQuadroStrategyBase.GUI/bin/Release/ATSQuadroStrategyBase.GUI.pdb
/ATSQuadroStrategyBase.GUI/bin/Release/ATSQuadroStrategyBase.GUI.dll
/ATSQuadroStrategyBase.GUI/bin/Debug/zh-Hans/NinjaTrader.Core.resources.dll
/ATSQuadroStrategyBase.GUI/bin/Debug/System.Windows.Controls.WpfPropertyGrid.dll
/ATSQuadroStrategyBase.GUI/bin/Debug/System.Data.SqlServerCe.dll
/ATSQuadroStrategyBase.GUI/bin/Debug/System.Data.SQLite.dll
/ATSQuadroStrategyBase.GUI/bin/Debug/SharpDX.DXGI.dll
/ATSQuadroStrategyBase.GUI/bin/Debug/SharpDX.dll
/ATSQuadroStrategyBase.GUI/bin/Debug/SharpDX.Direct3D10.dll
/ATSQuadroStrategyBase.GUI/bin/Debug/SharpDX.Direct2D1.dll
/ATSQuadroStrategyBase.GUI/bin/Debug/ru-RU/NinjaTrader.Core.resources.dll
/ATSQuadroStrategyBase.GUI/bin/Debug/pt-PT/NinjaTrader.Core.resources.dll
/ATSQuadroStrategyBase.GUI/bin/Debug/NinjaTrader.VMRuntime.dll
/ATSQuadroStrategyBase.GUI/bin/Debug/NinjaTrader.Core.xml
/ATSQuadroStrategyBase.GUI/bin/Debug/NinjaTrader.Core.dll
/ATSQuadroStrategyBase.GUI/bin/Debug/MySql.Data.dll
/ATSQuadroStrategyBase.GUI/bin/Debug/it-IT/NinjaTrader.Core.resources.dll
/ATSQuadroStrategyBase.GUI/bin/Debug/Interop.METALIBLib.dll
/ATSQuadroStrategyBase.GUI/bin/Debug/Google.Protobuf.dll
/ATSQuadroStrategyBase.GUI/bin/Debug/fr-FR/NinjaTrader.Core.resources.dll
/ATSQuadroStrategyBase.GUI/bin/Debug/es-ES/NinjaTrader.Core.resources.dll
/ATSQuadroStrategyBase.GUI/bin/Debug/de-DE/NinjaTrader.Core.resources.dll
/ATSQuadroStrategyBase.GUI/bin/Debug/ATSQuadroStrategyBase.GUI.pdb
/ATSQuadroStrategyBase.GUI/bin/Debug/ATSQuadroStrategyBase.GUI.dll
/ATSQuadroStrategyBase.GUI/.vs/ATSQuadroStrategyBase.GUI/v16/Server/sqlite3/storage.ide-wal
/ATSQuadroStrategyBase.GUI/.vs/ATSQuadroStrategyBase.GUI/v16/Server/sqlite3/storage.ide-shm
/ATSQuadroStrategyBase.GUI/.vs/ATSQuadroStrategyBase.GUI/v16/Server/sqlite3/storage.ide
/ATSQuadroStrategyBase.GUI/.vs/ATSQuadroStrategyBase.GUI/v16/Server/sqlite3/db.lock
/ATSQuadroStrategyBase.GUI/.vs/ATSQuadroStrategyBase.GUI/v16/.suo
/ATSQuadroStrategyBase.GUI/obj/Debug/ATSQuadroStrategyBase.GUI_2cdmzzjo_wpftmp.csprojAssemblyReference.cache
/ATSQuadroStrategyBase.GUI/obj/Debug/DesignTimeResolveAssemblyReferences.cache
/ATSQuadroStrategyBase.GUI/obj/Debug/ATSQuadroStrategyBase.GUI (2).csprojAssemblyReference.cache
/ATSQuadroStrategyBase.GUI/obj/Release/UserControlStrategyConfig.g.i.cs
/ATSQuadroStrategyBase.GUI/obj/Release/UserControlStrategyConfig.g.cs
/ATSQuadroStrategyBase.GUI/obj/Release/UserControlStrategyConfig.baml
/ATSQuadroStrategyBase.GUI/obj/Debug/UserControlStrategyConfig.g.i.cs
/ATSQuadroStrategyBase.GUI/obj/Debug/UserControlStrategyConfig.g.cs
/ATSQuadroStrategyBase.GUI/obj/Debug/UserControlStrategyConfig.baml
/ATSQuadroStrategyBase.GUI/obj/Debug/UserControlEasyConfig - Copy.g.i.cs
/ATSQuadroStrategyBase/NinjaTrader 8.zip
/ATSQuadroStrategyBase/NinjaTrader 8/bin/Custom/.vs/NinjaTrader.ATS.Custom/FileContentIndex
/ATSQuadroStrategyBase/NinjaTrader 8/bin/Custom/.vs/NinjaTrader.ATS.Custom/v17
